.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}
.nav__items {
  display: flex;
  gap: 20px;
}
.nav__icons {
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  gap: 20px;
}
.nav__items a {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: center;
  text-decoration: none;
  color: #272727;
}
.nav__items select {
  border: none;
  width: 100px;
}
.nav__items select option {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: center;
  color: #272727;
}
